<%- include('partials/header') -%>
<h1><b>About</b></h1>
<p><%= aboutContentStarting%></p>
<div class="aboutsocailContainer">
      <a href="https://www.facebook.com/eslam.abdelslam.75/" class="social"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
      <a href="https://www.linkedin.com/in/eslam-mohamed1/" class="social"><i class="fab fa-linkedin-in"></i></a>
    </div>
<%- include('partials/footer') -%>
