<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login In to Our Journal</title>
  <link rel="stylesheet" href="/css/styles.css">
  <!-- icons -->
  <script src="https://kit.fontawesome.com/40d1da232c.js" crossorigin="anonymous"></script>

</head>

<body>
  <div class="Container-All-Page">


  <h1 class="SignText">Sign Up </h1>
  <div class="social-container">
				<a href="https://www.facebook.com/eslam.abdelslam.75/" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="https://www.linkedin.com/in/eslam-mohamed1/" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>

  <form  action="/signup" method="post">

    <div class="TextBox">
      <input class="Text_1 " type="text" name="enteruserName" value="" placeholder="Enter User Name">
      <input class="Text_2 " type="password" name="enterPassword" value="" placeholder="Enter Password">
    </div>

    <div class="LabelText">
        <p><%=Good%></p>
      <button class=" btn_3"type="submit" name="btn" value="SignUp">Finish Sign Up</button>
    </div>
  </form>
  </div>
</body>

</html>
